@model IEnumerable<WebChat.ViewModels.ChatDetailsViewModel>

@foreach (var item in Model)
{
    <p style="margin-left:20px">@Html.DisplayFor(modelItem => item.UserName) : @Html.DisplayFor(modelItem => item.Message)</p>
}