body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #e1dfb9;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.1em;
    color: #800040;
    margin-top: 0;
}

#container {
    width: 100%;
    margin: 0 auto;
    background: #f0f0f0;
}

#header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    background: #8fa09b;
    color: #ffe;
    vertical-align: middle;
}

#sidebar {
    width: 130px;
    float: left;
}

#content {
    margin-left: 130px;
    padding: 10px;
    background: #fff;
}

#footer {
    background: #8fa09b;
    color: #fff;
    padding: 5px;
    clear: left;
}

    #footer table {
        width: 100%;
        height: 100%;
    }

        #footer table a {
            outline: none;
        }

        #footer table tr td {
            padding: 5px;
        }

#message {
    width: 100%;
    border-radius: 10px;
}

#footer table #send {
    width: 100%;
    border-radius: 10px;
}

#login {
    position: absolute;
    right: 10px;
    color: #f00;
    font-size: small;
    margin-top: 5px;
}
/*Nav*/
#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 130px;
}

    #navbar li {
        border-bottom: 1px solid #666;
    }

    #navbar a {
        background-color: #949494;
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        display: block;
        height: 30px;
    }

        #navbar a:hover {
            background-color: #666;
        }
